.input-container .input_inner .icon{
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}
.input-container .input_inner{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.input-container .input{
    margin: 20px 0;
    padding: 5px 2px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(201, 201, 201);
    /* background-color: lightcoral; */
    width: 100%;
}
.input-container .input input{
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
}