#popup{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    color:#fff;
    backdrop-filter: blur(10px);
}

#popup .content{
max-width:600px;
padding:5%;
border-radius: 50px;
width: 90%;
margin: auto;
min-height:200px;
background: black;
}


#popup .content .sub_heading{
    opacity: .5;
    margin-bottom: 10px;
}

#popup label{
    margin:0;
    padding:0
}