#product {
  position: relative;
  height: 100%;

  display: flex;
  justify-content: space-between;
  padding: 5%;

  .product_information {
    // width:300px;

    .product-owner {
      color: var(--primary-color);
    }
    .product-name {
      font-size: 3rem;
      max-width: 400px;
    }
    .product-description {
      max-width: 400px;
      margin: 20px 0;
    }



    .product-price{
      &>div{
        display:flex;
        gap:0 10px;
        align-items: center;
        .new-price{
            font-size:1.8rem
        }
        .discount{
            font-weight: bold;
            padding:4px;
            color:var(--primary-color);
            background:var(--secondary-color)
        }
      }

      .old-price{
          margin:5px 0;
          opacity:.5;
          text-decoration: line-through;
      }
    }



    .product-actions{
        display: flex;
        gap:50px;
        margin-top: 20px;
        .quantity{
            display: flex;
            width:150px;
            font-weight: bold;
            align-items: center;
            justify-content: space-between;
        }

        .add-cart-btn{
            padding:10px 30px;
            width:100%;
            background-color: var(--primary-color);
            color:#fff;
            gap:0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

    }






  }




  .product_display{
      position: relative;
      .gallery{
          .current-display{
              width: 45 0px;
              border-radius: 15px;
              cursor: pointer;
              height: 300px;
              background-color: #eee;
          }

          .thumbnails{
              display:flex;
              margin:20px 0;
              gap:0 20px;
              align-items: center;
          }
          .thumb{
              width:100px;
              height:100px;
              cursor: pointer;
              border-radius: 10px;
              background: #eee;
          }
      }
  }
}
