.toggler{
width:60px;
position: relative;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
cursor: pointer;
height:30px;
padding: 2px;
background: rgb(228, 228, 228);
border-radius: 30px;
}

.toggler input{
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%
}

.toggler .toggle{
height: 30px;
border-radius: 50px;
transition: 0.4s;
background-color: maroon;
width: 30px;
}

.toggler.active{
    background-color: maroon;
}

.toggler.active .toggle{
    background-color: #fff;
    transform: translateX(100%);
}
