#header{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    border-bottom: 2px solid rgba(10, 10, 10, 0.101);

    .header-main{
        display: flex;
        align-items: inherit;

        .close,.menu{
            display: none;
        }

        .header_logo{
            display:flex;
            margin: 0 5px;
            gap:0 10px;
        }

        .nav-links{
           
        display:flex;
        margin:0 20px;
        align-items: center;
            list-style-type: none;

           
            .nav-link:not(.active){
                opacity:.5
            }

            .nav-link{
            padding:30px 10px;
            transition: 0.2s;
            border-bottom: 3px solid transparent;
                &.active,&:hover{
            border-color: var(--primary-color);
            opacity:1

                }
               
            }

        }
}



.header_action{
    display: flex;
    align-items: center;
    gap:0 20px;
    .cart{
        position: relative;
        &:before{
            content:attr(data-q);
        // @extend .small;
        font-size:10px;
        position: absolute;
        border-radius: 10px;;
        top:-10px;
        right:-10px;
        padding:1px 10px;
        font-weight:bold;
        color:#fff;
        background:var(--primary-color)
    }
}
}
}